$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.8)") !default;
$select-padding: 4px;

.Content-step-1,
.Content-step-2,
.Content-step-3,
.Content-step-4,
.Content-step-5 {
    width: 100%;
    position: relative;
}

.Content-step-1 {
  text-align: center;
}

.Content-step-1-select {
    position: relative;
    margin-top: .1em;
    font-family: inherit;
    background-color: transparent;
    width: 8em;
    padding: $select-padding 0;
    font-size: $select-font-size;
    color: $select-color;
    border: none;
    border-bottom: 1px solid orange;
}

.Content-step-2 {
  text-align: center;
}

.Content-step-2 > p {
  position: relative;
  width: 50%;
  left: 25%;
  padding: 4px 10px;
  background-color: #1e1e1e;
  color: #e1e1e1;
  border-radius: 4px;
}

.Content-step-3 {
  padding: 20px 60px;
  text-align: center;
}

.Content-step-3 > p {
  position: relative;
  width: 100%;
  left: 50%;
  padding: 4px 10px;
  background-color: #1e1e1e;
  color: #e1e1e1;
  border-radius: 4px;
}

.Content-step-3-table-header {
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid black;
  margin-bottom: 1.5em;
}

.Content-step-3-desc {
  text-align: right;
  padding: 6px;
  border-bottom: 1px solid black;
}

.Content-step-4 {
  width: 70%;
  left: 15%;
  text-align: center;
}

.Content-step-4-container > p {
  position: relative;
  text-align: center;
  width: 50%;
  left: 25%;
  padding: 4px 10px;
  background-color: #1e1e1e;
  color: #e1e1e1;
  border-radius: 4px;
}

.Content-step-4-caption {
  position: relative;
  margin-top: 2em;
  margin-bottom: 1.5em;
  width: 100%;
  padding: 6px 10px;
  background-color: #1e1e1e;
  color: #e1e1e1;
  border-radius: 4px;
}

.Content-step-4 {
  margin-top: 4.5em;
  // padding-top: 15em;
  // left: 50%;
}

.Content-step-4 > tbody {
  position: relative;
  text-align: center;
  left: 50%;
}

.Content-step-4-header {
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid black;
}

.Content-step-4-desc {
  text-align: right;
  padding: 6px;
  border-bottom: 1px solid black;
}

.Content-step-5 {
  text-align: center;
}

.checkMark {
    position: relative;
    top: 30px;
    font-size: 8em;
}

.Content-step-5-done {
  font-size: 2em;
}

.button {
  margin-top: 10px;
  padding: 10px 35px;
  background-color: rgba(64, 128, 191, 0.5);
  border: none;
  box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
  border-radius: 4px;
}

.button:hover {
  background-color: rgba(64 , 128, 191, 0.8);
  box-shadow: 4px 4px 5px rgba(30, 30, 30, 0.8);
  transition-duration: 0.4s;
  z-index: 10;
}

.button-3 {
  position: relative;
  left: 80%;
  bottom: 10px;
}

.button-4 {
  position: fixed;
  left: calc(50% - 50px);
}
