.Content-step-1,
.Content-step-2,
.Content-step-3,
.Content-step-4 {
    width: 100%;
    position: relative;
    left: 30%;
}

.Content-step-1-select {
    position: relative;
    margin-top: 2.5em;
    left: 9%;
}

.Content-step-2-header {

}
