$background-color: #4e7ec7;
$content-background-color: #e1e1e1;
$accent-color: #b0b0b0;
$text-color: #000;

$font: 'Roboto', sans-serif;

* {
    font-family: $font;
}

body {
    width: 100vh;
    height: 100vh;
    background-image: -webkit-radial-gradient(center, circle farthest-corner,
        rgba(230,230,230,1) 0%, rgba(186,186,186,1) 100%);

}

.App_main {
    background: $content-background-color;
    max-width: 80em;
    width: 50%;
    border: $accent-color 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #1e1e1e;
    position: fixed;
    top: 5em;
    left: 25%;
    height: 25em;
}
