// Variables

.Step_Component {
    padding: 2em 4em 0 4em;
    display: inline;
}

.Step_Component-nav {
    position: relative;
    width: 100%;
    text-align: center;
}

.fa-arrow-right,
.fa-arrow-left,
.Step_current-p {
    font-size: 2em;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
       -khtml-user-select: none;    /* Konqueror */
         -moz-user-select: none;      /* Firefox */
          -ms-user-select: none;       /* Internet Explorer/Edge */
              user-select: none;
}

.fa-arrow-left,
.fa-arrow-right {
  cursor: pointer;
  cursor: hand;
}

hr {
    border-color: orange;
}
